.image-item-container {
  margin-top: 5px;
  display: flex;
  padding: 0px 23px;
  align-items: center;
}

.text-description {
  align-items: baseline;
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  .image-item-container {
    margin: 25px;
    display: flex;
  }

  .text-description {
    display: flex;
    align-items: baseline;
    line-height: 24px;
  }
}
